@import "tailwindcss";



html {
  scroll-behavior: smooth;
  background-color: black;
}

/* Ammar Ahmad Blue Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #00A3FF;
  border-radius: 10px;
} 
/* Ammar Ahmad Grain Effect */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.05;
  pointer-events: none;
  z-index: 999;
}
html {
  scroll-behavior: smooth;
}

